#home {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  background-color: lightgray;
  color: black;
}

#dnd-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pdf-area {
  display: flex;
  padding: 1em 0.5em 1em 1em;
  flex-direction: column;
  flex: 1;
}

#pdf-viewer-area {
  display: flex;
  background-color: red;
  height: 10em;
}

#pic-area {
  display: flex;
  padding: 1em 1em 1em 0.5em;
  flex: 1;
  flex-direction: column;
}

#pic-viewer-area {
  display: flex;
  flex: 1;
  background-color: blue;
}
